@import "tailwindcss";
@font-face {
  font-family: "Neue Montreal";
  src: url("/public/fonts/NeueMontreal-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("/public/fonts/FoundersGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hbue";
  src: url("/public/fonts/hbue.woff2") format("woff2");
}

@theme {
  --font-neue: "Neue Montreal", sans-serif;
  --font-founders: "Founders Grotesk", sans-serif;
  --font-hbue: "hbue", sans-serif;
}

body {
  color: #1f2937;
  background-color: white;
}

:root {
  --color-primary: #0081c9;
  --color-secondary: #efbf04;
  --color-tertiary: #0081c9;
}
.noise {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 2px
  );
}
