@import "tailwindcss";
@font-face {
  font-family: "Neue Montreal";
  src: url("/public/fonts/NeueMontreal-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("/public/fonts/FoundersGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hbue";
  src: url("/public/fonts/hbue.woff2") format("woff2");
}

@theme {
  --font-neue: "Neue Montreal", sans-serif;
  --font-founders: "Founders Grotesk", sans-serif;
  --font-hbue: "hbue", sans-serif;
}

body {
  color: #1f2937;
  background-color: white;
}

:root {
  --color-primary: #0081c9;
  --color-secondary: #efbf04;
  --color-tertiary: #0081c9;
}
.noise {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 1px,
    transparent 1px,
    transparent 2px
  );
}
body {
  background: radial-gradient(
      1200px 600px at 20% -10%,
      rgba(120, 70, 255, 0.15),
      transparent 60%
    ),
    radial-gradient(
      1000px 500px at 80% 10%,
      rgba(255, 255, 255, 0.05),
      transparent 55%
    ),
    #050505;
}

.span-text {
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  background-color: #8f8d99;
}

.line-divider {
  width: 100%;
  height: 0.1px;
  transform: rotate(90deg);
  z-index: 1;
  background-color: #8f8d99;
  opacity: 0.5;
  filter: blur(1px);
}
